<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Express Movises</title>
    <link rel="stylesheet" href="../public/style.css" />
</head>

<body>
    <div class="central">
        <% include ./partials/header %>
        <h1>Express Movies : le site des cinéphiles</h1>
        <div>
            Etes-vous plutot films ou séries? Peu import, vous trouverez votre bonheurdans les deux cas.
        </div>

    </div>
    <% include ./partials/footer %>
</body>

</html>