<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Express Movises</title>
    <link rel="stylesheet" href="../public/style.css" />
</head>

<body>
    <div class="central">
        <% include ./partials/header %>
        <h1>Details du film </h1>
        <div>
            <%= movieid %>
        </div>
    </div>
    <% include ./partials/footer %>
</body>

</html>